#pageHeader{
    background-color: #373B69 !important;
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 85px;
    width: 100%;

    padding-left: 20px;
    padding-right: 20px;
}

/*Class is almost defunct however still assigned may remove later if we never use text buttons in header however we may want a login button with text*/
.headerBtn{
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    align-items: center;
    text-align: center;
    border-style:none;
}

#logoContainer{
    width: 120px;
    min-width: 100px;
}

#headerSearchContainer{
    width: calc(100vw - 210px);
    transition: all 0.3s;
}

#loginContainer{
    width: 50px;
    transition: all 0.3s;
}

#headerSearch{
    width: 90%;
    transition: all 0.3s;
}