#pageHeader{
    position: sticky;

    top: 0;

    background-color: #373B69 !important;
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 85px;
    width: 100%;

    z-index: 99;

    padding-left: 20px;
}

/*Class is almost defunct however still assigned may remove later if we never use text buttons in header however we may want a login button with text*/
.headerBtn{
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    align-items: center;
    text-align: center;
    border-style:none;
}

#logoContainer{
    width: 120px;
    min-width: 100px;
}

#headerSearchContainer{
    /*Add an extra 20 for browser scrollbar and remove on mobile*/
    width: calc(100vw - 230px);
}

#headerSearchBox{
    position: fixed;
    top: 85px;

    padding: 40px;
    margin-top: -1000px;

    /*Add an extra 20 for browser scrollbar and remove on mobile*/
    width: calc(40vw);
    height: 900px;

    overflow: hidden;

    z-index: 10;

    background-color: rgb(28, 31, 51, 0.99);

    transition: all 0.3s;
}

#headerSearchBox.active{
    margin-top: 0px;
}

#searchItem{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#searchComponentDetails {
    height: 33.333%;
}

#searchComponentDetails * {
    margin-top: auto;
    margin-bottom: auto;
}

#loginContainer{
    width: 50px;
    transition: all 0.3s;
}

#headerSearch{
    width: 90%;

    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;

    border-bottom: 2px solid rgb(218, 218, 240);
}

#headerSearchContainer input{
    color: rgb(218, 218, 240);

    font-size: 25px;
    text-align: end;
}

#headerSearchContainer input::placeholder{
    color: rgb(218, 218, 240);
}

#headerSearchContainer input:focus::placeholder {
    color: transparent;
}

/*Device Check*/
@media (pointer:none), (pointer:coarse) {
    #headerSearchContainer{
        /*Add an extra 20 for browser scrollbar and remove on mobile*/
        width: calc(100vw - 210px);
    }
}