/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../../images/background.png');
    background-size: 100% 100%;
    color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden;
}

h3 {
    margin: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 2.3em;
    color: #FFFFFF;
}

a, a:hover, a:focus, a:hover p {
    text-decoration: none;
    transition: all 0.3s;
}

.headerBtn{
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    align-items: center;
    text-align: center;
    border-style:none;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.btn {
    font-size: 2rem;
    padding: 0.25rem;
    border-color: #2C2D43;
    background-color: #2C2D43;
    color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    border-color: #4d4f74;
    background-color: #2C2D43;
    color: #FFFFFF;
}

.header {
    background-color: #373B69 !important;
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 104px;
    width: 100%;
}

.transparent {
    background-color: transparent !important;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerV {
    display: flex;
    align-items: center;
}

.centerIcon {
    align-items: center;
    justify-content: center;
}

.no-margin {
    margin: 0;
}

.no-marginL {
    margin-left: 0;
}

.no-marginR {
    margin-right: 0;
}

.no-pad {
    padding: 0;
}

.no-padL {
    padding-left: 0;
}

.no-padR {
    padding-right: 0;
}

.current-page{
    background-color: #373B69 ;
}

.largeBtn {
    background-color: #373B69;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

h2{
    text-align: center;
    font-size:20px;


}

p{
    font-family: Inconsolata;
    font-size:15px;
}

#feedContainer{
    background: rgba(0, 0, 0, 0.2);

    margin: 10px;
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: 0px;

    overflow-y: scroll;
    height:calc(100vh - 104px);

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#feedContainer::-webkit-scrollbar {
    display: none;
}

#feedItem{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.35);

    margin-bottom: 20px;

    padding: 10px !important;
}

#detail{
    background: rgba(0, 0, 0, 0.2);
}

#formContainer{
    margin-top: 150px;
}

#formField{
    margin-top: 40px;
    font-size: 18px;
}

#content {
    width: 100%;
    min-height: 104px;
}

#companyName {
    padding-top: 115px;
    font-size: 40px;
    font-weight: bold;
}

#navIcon {
    max-width: 65px;
    margin-left: 15px;
}

#navArrow {
    max-width: 40px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#copyrights {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: gray;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;

    /*position: fixed;*/
    
    background: #3F4478;
    color: #fff;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: flex;
}

#sidebar ul li a:hover {
    background: #fff;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


