/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)1
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background-image: url('../../images/background.png');
    background-size: 100% 100%;
    color: #FFFFFF;

    min-width: 300px;

    overflow-x: hidden;
    overflow-y: hidden;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
}

h3 {
    margin: 0;
}

h2{
    text-align: center;
    font-size:22px;
}



.wrapper{
    height: 100vh;
    overflow-y: hidden;
}

.btn {
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    width: 175px;
    height: 50px;
    border-color: #2C2D43;
    background-color: #2C2D43;
    color: #FFFFFF;

    padding-top: 0;
    padding-bottom: 0;

    text-align: center;

    display: inline-block;
    line-height: 47px;
    vertical-align: middle;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    border-color: #4d4f74;
    background-color: #2C2D43;
    color: #FFFFFF;
}



.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerV {
    display: flex;
    align-items: center;
}

.centerIcon {
    align-items: center;
    justify-content: center;
}

.no-margin {
    margin: 0;
}

.no-marginL {
    margin-left: 0;
}

.no-marginR {
    margin-right: 0;
}

.no-pad {
    padding: 0;
}

.no-padL {
    padding-left: 0;
}

.no-padR {
    padding-right: 0;
}

.transparent {
    background-color: transparent !important;
}



.largeBtn {
    background-color: #373B69;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}



#content {
    width: 100%;
    min-height: 104px;

    height:calc(100vh - 85px);

    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#content::-webkit-scrollbar {
    display: none;
}

#bodyContainer{
    width: 100%;
    height:calc(100vh - 85px);

    display: flex;
    align-items: stretch;
}

#pageContainer{
    background: rgba(0, 0, 0, 0.2);

    margin: 10px;
    padding: 20px;
    padding-bottom: 0px;
    overflow-y: scroll;
    height:calc(100vh - 105px);

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#pageContainer::-webkit-scrollbar {
    display: none;
}

#itemContainer{
    background: rgba(0, 0, 0, 0.2);

    margin: 10px;
    padding: 20px;
    padding-bottom: 0px;
}

#feedItem{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.35);

    margin-bottom: 20px;

    padding: 10px !important;
}

#formContainer{
    margin-top: 150px;
}

#formField{
    margin-top: 40px;
    font-size: 18px;
}

#detail{
    width: 650px;
    background: rgba(0, 0, 0, 0.2);
}

#trends{
    border-style: solid;
    border-color:#373B69;
    border-style: solid;
    padding:10px;
    border-bottom:30px;
}

#trendInfo{
    padding-top:20px;
    border-style:solid ;
    border-color:rgba(0, 0, 0, 0.2);
    border-right:20px;
}

#trendInfo{
    padding-top:20px;
    border-style:solid ;
    border-color:rgba(0, 0, 0, 0.2);
    border-right:20px;
}

#feedComponentDetails {
    height: 33.333%;
}

#feedComponentDetails * {
    margin-top: auto;
    margin-bottom: auto;
}




@media (pointer:none), (pointer:coarse) {
    #pageContainer{
        height:calc(100vh - 180px);
    }

    .wrapper{
        height: 75vh;
    }
}

@media screen and (max-height: 800px) {
    #formContainer{
        margin-top: 50px;
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 410px) {
    #feedComponentDetails {
        justify-content: center;
    }
}

@media screen and (max-width: 1100px) {
    #feedComponentMovieDetailsContainer{
        display: block;
        padding-top: 10px;
        margin-left: auto !important;
        margin-right: auto !important;
        height: auto;
    }

    #feedComponentMovieImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0px !important;
    }
}